<div class="banner_wrapper">
    <div class="inner">
        <div class="banner_image">
            {{section.settings.banner_img | img_url: 'master' | img_tag }}
        </div>
        <div class="banner_text">
            <h1>{{section.settings.banner_title}}</h1>
            <p>{{ section.settings.banner_text }}</p>
            <a href="{{ section.settings.button_url }}">{{ section.settings.button_label }}</a>
        </div>
    </div>
</div>


{% schema %}
  {
    "name": "Banner",
    "settings": [
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner Title"
    },
    {
     "type": "text",
      "id": "banner_text",
      "label": "Banner Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    }
    ]
  }
{% endschema %}